Repository code4romania/stam-acasa, pull requests merged in 2020-07, with the labels that each got.

#465 Remove HSTS and https port
  backend/src/StamAcasa.Api/Startup.cs
  backend/src/StamAcasa.Api/appsettings.json
  backend/src/StamAcasa.IdentityServer/appsettings.json
Labels: back-end

#467 More content changes for jurnalmedical.ro
  .github/CONTRIBUTING.md
  backend/src/StamAcasa.EmailService/EmailBuilder/EmailBuilderService.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/accountConfirmationTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/resetPasswordTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/stateEntityTemplate.html
  backend/src/StamAcasa.IdentityServer/Views/Shared/_Layout.cshtml
  frontend/public/index.html
  frontend/src/components/Home/components/DefaultHomePage.js
Labels: front-end

#468 Some more content change
  README.md
  backend/StamAcasa.IdentityServer.Tests/ConfirmEmailShould.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/EmailConstants.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/accountConfirmationTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/resetPasswordTemplate.html
Labels: front-end

#473 Fix mapping when saving forms
  backend/src/StamAcasa.Api/Controllers/FormController.cs
  backend/src/StamAcasa.Common/Mapper/FormMappingProfile.cs
  backend/src/StamAcasa.Common/Services/FormService.cs
Labels: back-end

#475 Fix issues on forms
  backend/src/StamAcasa.Api/Models/AnswerModel.cs
  backend/src/StamAcasa.Api/Models/UserForm.cs
  backend/src/StamAcasa.Common/Mapper/FormMappingProfile.cs
  frontend/src/components/Account/common/ProfileHistory/ProfileHistoryBuilder.js
Labels: back-end

#490 Bugfix/typo
  frontend/src/components/Home/components/UserHomePage.js
Labels: front-end

#497 Update PersonalData.js
  frontend/src/components/AddMember/PersonalData.js
Labels: front-end

#469 Feature/delete user integration
  backend/src/StamAcasa.IdentityServer/Quickstart/Account/AccountController.cs
  backend/src/StamAcasa.IdentityServer/Quickstart/Account/DeleteAccountModel.cs
  backend/src/StamAcasa.IdentityServer/Startup.cs
  frontend/src/api/accountApi.js
  frontend/src/api/auth.js
  frontend/src/components/DeleteAccount/index.js
  frontend/src/components/DeleteAccount/style.scss
  frontend/src/components/Header/ProfileItems.js
  frontend/src/routes.js
Labels: back-end, front-end
