Repository code4romania/stam-acasa, pull requests merged in 2020-06, with the labels that each got.

#446 Updating the content and removing the code4ro logos
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/accountConfirmationTemplate.html
Labels: front-end

#448 Terms and conditions update
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BasePage/index.js
  frontend/src/components/Footer/index.js
  frontend/src/components/TermsAndConditions/TermsAndConditions.scss
  frontend/src/components/TermsAndConditions/index.js
  frontend/src/routes.js
Labels: front-end

#445 Avoid user enumeration by redirecting duplicated requests
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/Register.cshtml.cs
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/RegisterConfirmation.cshtml
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/RegisterConfirmation.cshtml.cs
  backend/src/StamAcasa.IdentityServer/IdentityHostingStartup.cs
  backend/src/StamAcasa.IdentityServer/appsettings.json
Labels: back-end

#449 Update dockerimage.frontend.yml
  .github/workflows/dockerimage.frontend.yml
Labels: deploy

#441 Write unit tests on data access rules
  backend/src/StamAcasa.Api.Tests/ControllerBaseTest.cs
  backend/src/StamAcasa.Api.Tests/FormGetShould.cs
  backend/src/StamAcasa.Api.Tests/FormGetVersionShould.cs
  backend/src/StamAcasa.Api.Tests/FormPostAnswerShould.cs
  backend/src/StamAcasa.Api.Tests/ProfileAddFamilyProfileShould.cs
  backend/src/StamAcasa.Api.Tests/ProfileGetFamilyMembersShould.cs
  backend/src/StamAcasa.Api.Tests/ProfileGetUserInfo.cs
  backend/src/StamAcasa.Api.Tests/ProfileSaveCurrentProfileShould.cs
  backend/src/StamAcasa.Api.Tests/ProfileUpdateFamilyProfileShould.cs
  backend/src/StamAcasa.Api.Tests/ProfileUpdateProfileShould.cs
  backend/src/StamAcasa.Api.Tests/StamAcasa.Api.Tests.csproj
  backend/src/StamAcasa.Api/Controllers/BaseApiController.cs
  backend/src/StamAcasa.Api/Controllers/FormController.cs
  backend/src/StamAcasa.Api/Controllers/ProfileController.cs
  backend/src/StamAcasa.Common/Models/Form.cs
  backend/src/StamAcasa.Common/Services/IUserService.cs
  backend/src/StamAcasa.Common/Services/UserService.cs
  backend/src/StamAcasa.sln
Labels: back-end

#458 Enable Secure cookies
  backend/src/StamAcasa.Api/Startup.cs
  backend/src/StamAcasa.IdentityServer/Startup.cs
Labels: back-end
