Repository code4romania/stam-acasa, pull requests merged in 2020-04, with the labels that each got.

#87 Feature/user fill in personal data
  backend/src/StamAcasa.Api/Controllers/FormController.cs
  backend/src/StamAcasa.IdentityServer/IdentityHostingStartup.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/AuthenticatedRoute.js
  frontend/src/api.js
  frontend/src/auth.js
  frontend/src/components/AddMember/index.js
  frontend/src/components/Header/header.scss
  frontend/src/components/Header/index.js
  frontend/src/components/Home/index.js
  frontend/src/components/Login/index.js
  frontend/src/components/Login/login.scss
  frontend/src/components/Register/Register.scss
  frontend/src/components/Register/index.js
  frontend/src/components/SelfEvaluation/index.js
  frontend/src/data/personal-assesment.json
  frontend/src/routes.js
Labels: WIP

#102 Update dockerimage.identityserver.yml
  .github/workflows/dockerimage.api.yml
  .github/workflows/dockerimage.frontend.yml
  .github/workflows/dockerimage.identityserver.yml
Labels: deploy

#100 Improve add family member page
  frontend/src/components/AddMember/AddMember.scss
  frontend/src/components/AddMember/index.js
Labels: frontend

#59 Create notification dispatch to trigger assessment notifications for the users
  backend/src/StamAcasa.Common/Notifications/AssessmentNotification.cs
  backend/src/StamAcasa.Common/Notifications/AssessmentNotificationsDispatch.cs
  backend/src/StamAcasa.Common/Notifications/INotification.cs
  backend/src/StamAcasa.Common/Notifications/INotificationsDispatch.cs
  backend/src/StamAcasa.Common/Queue/IQueue.cs
  backend/src/StamAcasa.Common/Queue/NotificationQueueRabbit.cs
  backend/src/StamAcasa.Common/Queue/RabbitConfig.cs
  backend/src/StamAcasa.Common/Services/IUserService.cs
  backend/src/StamAcasa.Common/Services/UserService.cs
  backend/src/StamAcasa.Common/StamAcasa.Common.csproj
Labels: backend

#69 Implemented Excel export service
  backend/src/StamAcasa.Api/Dockerfile
  backend/src/StamAcasa.Api/Services/Excel/AnswersExcelExporter.cs
  backend/src/StamAcasa.Api/Services/Excel/AnswersExcelTemplateTypes.cs
  backend/src/StamAcasa.Api/Services/Excel/ExcelDocumentService.cs
  backend/src/StamAcasa.Api/Services/Excel/IAnswersExcelExporter.cs
  backend/src/StamAcasa.Api/Services/Excel/IExcelDocumentService.cs
  backend/src/StamAcasa.Api/StamAcasa.Api.csproj
  backend/src/StamAcasa.Api/Startup.cs
Labels: backend

#92 Feature: Unify email sending services
  backend/src/StamAcasa.Api/Services/IFileService.cs
  backend/src/StamAcasa.Api/Services/LocalFileService.cs
  backend/src/StamAcasa.Common/Models/Email.cs
  backend/src/StamAcasa.Common/Services/Emailing/EmailingSystemTypes.cs
  backend/src/StamAcasa.Common/Services/Emailing/IEmailSender.cs
  backend/src/StamAcasa.Common/Services/Emailing/SendGridOptions.cs
  backend/src/StamAcasa.Common/Services/Emailing/SendGridSender.cs
  backend/src/StamAcasa.Common/Services/Emailing/SmtpOptions.cs
  backend/src/StamAcasa.Common/Services/Emailing/SmtpSender.cs
  backend/src/StamAcasa.Common/StamAcasa.Common.csproj
  backend/src/StamAcasa.EmailService/Dockerfile
  backend/src/StamAcasa.EmailService/EmailBuilder/EmailBuilderService.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/IEmailBuilderService.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/Models/EmailModel.cs
  backend/src/StamAcasa.EmailService/Mailing/ISender.cs
  backend/src/StamAcasa.EmailService/Mailing/MailOptions.cs
  backend/src/StamAcasa.EmailService/Mailing/SmtpSender.cs
  backend/src/StamAcasa.EmailService/Program.cs
  backend/src/StamAcasa.EmailService/StamAcasa.EmailService.csproj
  backend/src/StamAcasa.EmailService/Worker.cs
  backend/src/StamAcasa.EmailService/appsettings.json
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/ForgotPassword.cshtml.cs
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/Manage/Email.cshtml.cs
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/Register.cshtml.cs
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/RegisterConfirmation.cshtml.cs
  backend/src/StamAcasa.IdentityServer/Dockerfile
  backend/src/StamAcasa.IdentityServer/Services/AuthMessageSenderOptions.cs
  backend/src/StamAcasa.IdentityServer/Services/EmailSenderSendGrid.cs
  backend/src/StamAcasa.IdentityServer/Services/EmailSenderSmtp.cs
  backend/src/StamAcasa.IdentityServer/Services/EmailingSystemTypes.cs
  backend/src/StamAcasa.IdentityServer/Services/SmtpSenderOptions.cs
  backend/src/StamAcasa.IdentityServer/StamAcasa.IdentityServer.csproj
  backend/src/StamAcasa.IdentityServer/Startup.cs
  backend/src/StamAcasa.IdentityServer/appsettings.json
  backend/src/StamAcasa.sln
Labels: backend

#104 Fix/docker compose
  .gitignore
  backend/src/StamAcasa.Api/appsettings.json
  backend/src/StamAcasa.IdentityServer/appsettings.json
  backend/src/docker-compose.yml
  frontend/.env
  frontend/Dockerfile
  frontend/src/auth.js
Labels: deploy

#132 [refactor-frontend] refactor frontend (project structure, redux code, integration with oicd)
  backend/src/docker-compose.yml
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/AuthenticatedRoute.js
  frontend/src/api.js
  frontend/src/api/api.js
  frontend/src/api/auth.js
  frontend/src/api/evaluation.js
  frontend/src/auth.js
  frontend/src/components/App/App.js
  frontend/src/components/App/App.scss
  frontend/src/components/App/App.test.js
  frontend/src/components/AuthenticatedRoute.js
  frontend/src/components/Header/Logo.js
  frontend/src/components/Header/MenuItems.js
  frontend/src/components/Header/ProfileItems.js
  frontend/src/components/Header/index.js
  frontend/src/components/Home/components/UserHomePage.js
  frontend/src/components/Home/index.js
  frontend/src/components/OIDC/PostLogoutRoute.js
  frontend/src/components/OIDC/RegisterCompleteRoute.js
  frontend/src/components/OIDC/SigninRoute.js
  frontend/src/components/OIDC/SilentRefreshRoute.js
  frontend/src/components/SelfEvaluation/index.js
  frontend/src/components/SidebarLayout/const.js
  frontend/src/components/SidebarLayout/index.js
  frontend/src/components/StepsBar/index.js
  frontend/src/data/personal-assesment.json
  frontend/src/hooks/auth.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/index.scss
  frontend/src/logo.svg
  frontend/src/routes.js
  frontend/src/store/UserReducer.js
  frontend/src/store/ducks/user.js
  frontend/src/store/store.js
Labels: frontend

#136 Add eslint rules for functional components and no console
  frontend/.eslintrc
  frontend/.gitignore
  frontend/src/serviceWorker.js
Labels: frontend

#134 Feature/update profile entity
  backend/src/StamAcasa.Api/Controllers/ProfileController.cs
  backend/src/StamAcasa.Api/UserInfo.db
  backend/src/StamAcasa.Common/DTO/UserModel.cs
  backend/src/StamAcasa.Common/DTO/UserProfileDTO.cs
  backend/src/StamAcasa.Common/Mapper/UserMappingProfile.cs
  backend/src/StamAcasa.Common/Migrations/20200321215045_Intial.Designer.cs
  backend/src/StamAcasa.Common/Migrations/20200321215045_Intial.cs
  backend/src/StamAcasa.Common/Migrations/20200321215358_AddCountryField.Designer.cs
  backend/src/StamAcasa.Common/Migrations/20200321215358_AddCountryField.cs
  backend/src/StamAcasa.Common/Migrations/20200322101655_SetIdentityColumn.Designer.cs
  backend/src/StamAcasa.Common/Migrations/20200322101655_SetIdentityColumn.cs
  backend/src/StamAcasa.Common/Migrations/20200329102004_AddEmailColumn.Designer.cs
  backend/src/StamAcasa.Common/Migrations/20200329102004_AddEmailColumn.cs
  backend/src/StamAcasa.Common/Migrations/20200329125758_AddDisabilityColumn.cs
  backend/src/StamAcasa.Common/Migrations/20200329131821_AddForms.Designer.cs
  backend/src/StamAcasa.Common/Migrations/20200329131821_AddForms.cs
  backend/src/StamAcasa.Common/Migrations/20200329132329_AddFormExtraColumns.Designer.cs
  backend/src/StamAcasa.Common/Migrations/20200329132329_AddFormExtraColumns.cs
  backend/src/StamAcasa.Common/Migrations/20200404214415_Initial.Designer.cs
  backend/src/StamAcasa.Common/Migrations/20200404214415_Initial.cs
  backend/src/StamAcasa.Common/Migrations/UserDbContextModelSnapshot.cs
  backend/src/StamAcasa.Common/Models/RelationshipTypes.cs
  backend/src/StamAcasa.Common/Models/User.cs
  backend/src/StamAcasa.Common/Services/IUserService.cs
  backend/src/StamAcasa.Common/Services/UserService.cs
Labels: backend

#138 Homepage content when user is not authenticated
  frontend/src/components/Home/components/DefaultHomePage.js
  frontend/src/components/SidebarLayout/const.js
Labels: frontend

#137 use easynetq to handle rabbit mq connections and help with management
  backend/src/StamAcasa.Common/Notifications/AssessmentNotificationsDispatch.cs
  backend/src/StamAcasa.Common/Queue/IQueue.cs
  backend/src/StamAcasa.Common/Queue/NotificationQueueRabbit.cs
  backend/src/StamAcasa.Common/Queue/QueueService.cs
  backend/src/StamAcasa.Common/Queue/RabbitConfig.cs
  backend/src/StamAcasa.Common/StamAcasa.Common.csproj
  backend/src/StamAcasa.EmailService/Messaging/EmailQueueSubscriber.cs
  backend/src/StamAcasa.EmailService/Messaging/IBusConnection.cs
  backend/src/StamAcasa.EmailService/Messaging/IQueueSubscriber.cs
  backend/src/StamAcasa.EmailService/Messaging/RabbitMQPersistentConnection.cs
  backend/src/StamAcasa.EmailService/Program.cs
  backend/src/StamAcasa.EmailService/StamAcasa.EmailService.csproj
  backend/src/StamAcasa.EmailService/Worker.cs
  backend/src/StamAcasa.EmailService/appsettings.json
Labels: backend

#135 Select email template based on parameter
  backend/src/StamAcasa.Common/Services/Emailing/EmailRequestModel.cs
  backend/src/StamAcasa.Common/Services/Emailing/EmailTemplate.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/EmailBuilderService.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/IEmailBuilderService.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/ITemplateFileSelector.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/accountConfirmationTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/dailyAssessmentTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/stateEntityTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/TemplateFileSelector.cs
  backend/src/StamAcasa.EmailService/Program.cs
  backend/src/StamAcasa.EmailService/StamAcasa.EmailService.csproj
Labels: backend

#143 Fix/compose
  .gitignore
  backend/src/StamAcasa.EmailService/appsettings.json
  backend/src/docker-compose.yml
  frontend/Dockerfile
  frontend/env.sh
  frontend/serve.json
Labels: deploy

#93 Add layout for dashboard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/App.scss
  frontend/src/components/BaseDashboard/BaseDashboard.scss
  frontend/src/components/BaseDashboard/components/CircleArrow/CircleArrow.scss
  frontend/src/components/BaseDashboard/components/CircleArrow/index.js
  frontend/src/components/BaseDashboard/components/DashboardHeader/DashboardHeader.scss
  frontend/src/components/BaseDashboard/components/DashboardHeader/index.js
  frontend/src/components/BaseDashboard/components/DashboardSidebar/DashboardSidebar.scss
  frontend/src/components/BaseDashboard/components/DashboardSidebar/index.js
  frontend/src/components/BaseDashboard/components/DashboardWidget/DashboardWidget.scss
  frontend/src/components/BaseDashboard/components/DashboardWidget/DoughnutChartConfig.js
  frontend/src/components/BaseDashboard/components/DashboardWidget/index.js
  frontend/src/components/BaseDashboard/components/Percentage/Percentage.scss
  frontend/src/components/BaseDashboard/components/Percentage/index.js
  frontend/src/components/BaseDashboard/dashboard-routes.js
  frontend/src/components/BaseDashboard/index.js
  frontend/src/components/BaseDashboard/pages/AllUsers/AllUsersTable.js
  frontend/src/components/BaseDashboard/pages/AllUsers/index.js
  frontend/src/components/BaseDashboard/pages/CazuriRedFlag/CazuriRedFlagTable.js
  frontend/src/components/BaseDashboard/pages/CazuriRedFlag/index.js
  frontend/src/components/BaseDashboard/pages/Dashboard/Dashboard.scss
  frontend/src/components/BaseDashboard/pages/Dashboard/index.js
  frontend/src/components/Chart/index.js
  frontend/src/images/arrow-green.svg
  frontend/src/images/arrow-red.svg
  frontend/src/images/arrow-right.svg
  frontend/src/images/chart-background.svg
  frontend/src/images/eye-icon-active.svg
  frontend/src/images/eye-icon.svg
  frontend/src/images/report-icon-active.svg
  frontend/src/images/report-icon.svg
  frontend/src/images/search-icon.svg
  frontend/src/images/user-icon-active.svg
  frontend/src/images/user-icon.svg
  frontend/src/routes.js
  package-lock.json
Labels: frontend

#149 Update docker compose files to expose RabbitMQ port
  backend/src/docker-compose-services.yml
  backend/src/docker-compose.yml
Labels: deploy

#150 Using the name of the service instead of localhost
  README.md
  backend/src/docker-compose-services.yml
Labels: deploy

#147 126 assesment history profile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Account/Account.scss
  frontend/src/components/Account/MemberAccount/MemberAccount.scss
  frontend/src/components/Account/MemberAccount/index.js
  frontend/src/components/Account/MyAccount/MyAccount.scss
  frontend/src/components/Account/MyAccount/index.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.scss
  frontend/src/components/Account/common/ProfileHistory/ProfileHistory.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistory.scss
  frontend/src/components/Account/common/SymptomsHistoryTable/SymptomsHistoryTable.js
  frontend/src/components/Account/common/SymptomsHistoryTable/SymptomsHistoryTable.scss
  frontend/src/components/Account/common/Tab/Tab.js
  frontend/src/components/Account/common/Tab/Tab.scss
  frontend/src/components/Account/common/Table/Table.js
  frontend/src/components/Account/common/Table/Table.scss
  frontend/src/components/Account/common/Tabs/Tabs.js
  frontend/src/components/Account/common/Tabs/Tabs.scss
  frontend/src/components/Account/index.js
  frontend/src/components/Account/mockData/mockData.json
  frontend/src/components/SelfEvaluation/profileSummary.js
  frontend/src/components/StepsBar/const.js
  frontend/src/routes.js
Labels: frontend

#90 Feature: Add scheduler service (#64)
  backend/src/StamAcasa.Common/Notifications/ResultNotification.cs
  backend/src/StamAcasa.Common/Notifications/ResultNotificationsDispatch.cs
  backend/src/StamAcasa.JobScheduler/ConfigurationSectionKey.cs
  backend/src/StamAcasa.JobScheduler/Dockerfile
  backend/src/StamAcasa.JobScheduler/Extensions/CronExpressionExtensions.cs
  backend/src/StamAcasa.JobScheduler/Extensions/ServiceCollectionExtensions.cs
  backend/src/StamAcasa.JobScheduler/JobScheduler.cs
  backend/src/StamAcasa.JobScheduler/Jobs/HealthCheckJob.cs
  backend/src/StamAcasa.JobScheduler/Jobs/IScheduledJob.cs
  backend/src/StamAcasa.JobScheduler/Jobs/SendAssessmentReminderJob.cs
  backend/src/StamAcasa.JobScheduler/Jobs/SendResultsNotificationJob.cs
  backend/src/StamAcasa.JobScheduler/Program.cs
  backend/src/StamAcasa.JobScheduler/Properties/launchSettings.json
  backend/src/StamAcasa.JobScheduler/README.md
  backend/src/StamAcasa.JobScheduler/StamAcasa.JobScheduler.csproj
  backend/src/StamAcasa.JobScheduler/appsettings.json
  backend/src/StamAcasa.sln
  backend/src/docker-compose.yml
Labels: backend

#148 Add filtrable table
  frontend/.env
  frontend/src/components/App/App.scss
  frontend/src/components/BaseDashboard/components/CircleArrow/index.js
  frontend/src/components/BaseDashboard/components/DashboardWidgets/index.js
  frontend/src/components/BaseDashboard/components/FilterColumn/FilterColumn.scss
  frontend/src/components/BaseDashboard/components/FilterColumn/index.js
  frontend/src/components/BaseDashboard/components/FilterColumn/use-table-filter.js
  frontend/src/components/BaseDashboard/dashboard-routes.js
  frontend/src/components/BaseDashboard/pages/AllUsers/AllUsersTable.js
  frontend/src/components/BaseDashboard/pages/CazuriRedFlag/CazuriRedFlag.scss
  frontend/src/components/BaseDashboard/pages/CazuriRedFlag/CazuriRedFlagTable.js
  frontend/src/components/BaseDashboard/pages/CazuriRedFlag/index.js
  frontend/src/components/BaseDashboard/pages/Dashboard/Dashboard.scss
  frontend/src/components/BaseDashboard/pages/Dashboard/index.js
  frontend/src/components/BaseDashboard/pages/Reports/index.js
  frontend/src/components/useOutsideClick/index.js
  frontend/src/images/filter-icon.svg
Labels: frontend

#172 Add account page
  frontend/src/components/Account/common/Tab/Tab.scss
  frontend/src/components/Account/index.js
  frontend/src/routes.js
Labels: frontend

#173 Use EmailRequestModel in AssessmentNotificationsDispatch
  backend/src/StamAcasa.Common/DTO/UserInfo.cs
  backend/src/StamAcasa.Common/Notifications/AssessmentNotificationsDispatch.cs
Labels: backend

#174 add serilog
  backend/src/StamAcasa.Api/Program.cs
  backend/src/StamAcasa.Api/StamAcasa.Api.csproj
  backend/src/StamAcasa.Api/Startup.cs
  backend/src/StamAcasa.EmailService/Program.cs
  backend/src/StamAcasa.EmailService/StamAcasa.EmailService.csproj
Labels: backend

#175 [#98] get forms from api
  backend/src/StamAcasa.Common/Resources/formFollowUp.json
  backend/src/StamAcasa.Common/Resources/formNewUser.json
  frontend/src/api/evaluationApi.js
  frontend/src/api/evaluationApi.test.js
  frontend/src/api/profileApi.js
  frontend/src/components/Account/MemberAccount/index.js
  frontend/src/components/Account/MyAccount/index.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistory.js
  frontend/src/components/Account/common/Tabs/Tabs.js
  frontend/src/components/Account/index.js
  frontend/src/components/AddMember/index.js
  frontend/src/components/App/App.scss
  frontend/src/components/BaseDashboard/components/FilterColumn/use-table-filter.js
  frontend/src/components/Evaluation/MemberEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/SelfEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/introSelfEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/introSelfEvaluation.test.js
  frontend/src/components/Evaluation/SelfEvaluation/profileSummary.js
  frontend/src/components/Evaluation/evaluationForm.js
  frontend/src/components/Evaluation/index.js
  frontend/src/components/OtherEvaluation/index.js
  frontend/src/components/OtherEvaluation/introOtherEvaluation.js
  frontend/src/components/OtherEvaluation/introOtherEvaluation.test.js
  frontend/src/components/SelfEvaluation/index.js
  frontend/src/components/StepsBar/const.js
  frontend/src/components/StepsBar/index.js
  frontend/src/components/Tabs/Tab/Tab.js
  frontend/src/components/Tabs/Tab/Tab.scss
  frontend/src/components/Tabs/Tabs.js
  frontend/src/components/Tabs/Tabs.scss
  frontend/src/data/other-assesment.json
  frontend/src/data/personal-assesment.json
  frontend/src/routes.js
Labels: frontend

#179 Update FormController.cs
  backend/src/StamAcasa.Api/Controllers/FormController.cs
Labels: backend

#178 feat: add profile for dependant & select list component
  frontend/package.json
  frontend/src/api/profileApi.js
  frontend/src/components/AddMember/AddMember.scss
  frontend/src/components/AddMember/Context.js
  frontend/src/components/AddMember/Health.js
  frontend/src/components/AddMember/PersonalData.js
  frontend/src/components/AddMember/index.js
  frontend/src/components/AddMember/options.js
  frontend/src/components/SelectList/SelectList.scss
  frontend/src/components/SelectList/index.js
Labels: frontend

#183 Create profile
  frontend/package.json
  frontend/src/api/mockProfileApi.js
  frontend/src/api/profileApi.js
  frontend/src/components/Account/CreateProfile/index.js
  frontend/src/components/Account/MyAccount/index.js
  frontend/src/components/Account/index.js
  frontend/src/components/AddMember/Context.js
  frontend/src/components/AddMember/Health.js
  frontend/src/components/AddMember/PersonalData.js
  frontend/src/components/AddMember/index.js
  frontend/src/components/AddMember/titles.js
  frontend/src/components/Evaluation/MemberEvaluation.js
Labels: WIP

#184 fix null pointer exception
  backend/src/StamAcasa.Api/Controllers/ProfileController.cs
  backend/src/StamAcasa.Common/Services/UserService.cs
Labels: backend

#186 Able to continue only when the corresponding questions are answered
  frontend/src/components/AddMember/Context.js
  frontend/src/components/AddMember/Health.js
  frontend/src/components/AddMember/index.js
Labels: frontend

#185 Improve email templates
  backend/src/StamAcasa.EmailService/EmailBuilder/EmailBuilderService.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/EmailConstants.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/accountConfirmationTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/dailyAssessmentTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/stateEntityTemplate.html
  backend/src/StamAcasa.EmailService/EmailBuilder/TemplateFileSelector.cs
Labels: backend

#187 #170 Profile details API integration
  frontend/src/api/evaluationApi.js
  frontend/src/api/mockProfileApi.js
  frontend/src/api/profileApi.js
  frontend/src/components/Account/MemberAccount/constants.js
  frontend/src/components/Account/MemberAccount/index.js
  frontend/src/components/Account/MyAccount/index.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.constants.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.scss
  frontend/src/components/Account/common/ProfileHistory/ProfileHistory.constants.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistory.js
  frontend/src/components/Account/common/ProfileOthers/OtherProfileRedirect/OtherProfileRedirect.js
  frontend/src/components/Account/common/ProfileOthers/ProfileOthers.js
  frontend/src/components/Evaluation/MemberEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/SelfEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/introSelfEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/profileSummary.js
Labels: frontend

#176 Implemented notification service for delivering daily emails
  backend/src/StamAcasa.Api/Controllers/FormController.cs
  backend/src/StamAcasa.Api/Services/Excel/AnswersExcelTemplateTypes.cs
  backend/src/StamAcasa.Api/Services/Excel/IExcelDocumentService.cs
  backend/src/StamAcasa.Api/StamAcasa.Api.csproj
  backend/src/StamAcasa.Api/Startup.cs
  backend/src/StamAcasa.Common/DTO/AddFormModel.cs
  backend/src/StamAcasa.Common/DTO/UserInfo.cs
  backend/src/StamAcasa.Common/Mapper/FormMappingProfile.cs
  backend/src/StamAcasa.Common/Models/AnswersExcelTemplateTypes.cs
  backend/src/StamAcasa.Common/Models/CountyDistribution.cs
  backend/src/StamAcasa.Common/Models/CountyEmailDistribution.cs
  backend/src/StamAcasa.Common/Models/Email.cs
  backend/src/StamAcasa.Common/Models/Form.cs
  backend/src/StamAcasa.Common/Notifications/ResultNotificationsDispatch.cs
  backend/src/StamAcasa.Common/Services/Emailing/EmailRequestModel.cs
  backend/src/StamAcasa.Common/Services/Emailing/EmailTemplate.cs
  backend/src/StamAcasa.Common/Services/Emailing/SendGridSender.cs
  backend/src/StamAcasa.Common/Services/Emailing/SmtpSender.cs
  backend/src/StamAcasa.Common/Services/Excel/AnswersExcelExporter.cs
  backend/src/StamAcasa.Common/Services/Excel/ExcelDocumentService.cs
  backend/src/StamAcasa.Common/Services/Excel/IAnswersExcelExporter.cs
  backend/src/StamAcasa.Common/Services/Excel/IExcelDocumentService.cs
  backend/src/StamAcasa.Common/Services/FormService.cs
  backend/src/StamAcasa.Common/Services/IFormService.cs
  backend/src/StamAcasa.Common/StamAcasa.Common.csproj
  backend/src/StamAcasa.EmailService/EmailBuilder/EmailBuilderService.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/dailyReportTemplate.html
  backend/src/StamAcasa.EmailService/StamAcasa.EmailService.csproj
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/Register.cshtml.cs
  backend/src/StamAcasa.JobScheduler/Program.cs
  backend/src/StamAcasa.JobScheduler/appsettings.json
Labels: backend

#177 Origin/feature/aws deploy using dns and https
  .github/workflows/deploy.yml
  aws_deploy/.DS_Store
  aws_deploy/dns.tf
  aws_deploy/dns/main.tf
  aws_deploy/dns/output.tf
  aws_deploy/dns/variables.tf
  aws_deploy/load-balancer/main.tf
  aws_deploy/load-balancer/output.tf
  aws_deploy/load-balancer/variables.tf
  aws_deploy/main.tf
  aws_deploy/output.tf
  aws_deploy/security.tf
  aws_deploy/service.tf
  aws_deploy/service/main.tf
  aws_deploy/service/output.tf
  aws_deploy/service/variables.tf
  aws_deploy/variables.tf
Labels: deploy

#194 Used the correct enum for the daily report
  backend/src/StamAcasa.Common/Notifications/ResultNotificationsDispatch.cs
  backend/src/StamAcasa.Common/Services/Emailing/EmailTemplate.cs
Labels: backend

#193 Using a env-config.js to set the environment variables instead of .env
  frontend/.env
  frontend/.gitignore
  frontend/public/env-config.js
  frontend/src/config/constants.js
Labels: frontend

#209 Fixing typo that leads to wrong thing saved in the backend
  frontend/src/components/AddMember/Context.js
  frontend/src/components/AddMember/index.js
  frontend/src/components/AddMember/titles.js
Labels: frontend

#207 Add browser testing
  frontend/.gitignore
  frontend/README.md
  frontend/cypress.json
  frontend/cypress/fixtures/profile.json
  frontend/cypress/integration/integration_spec.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/authDetails.json
  frontend/cypress/support/commands.js
  frontend/cypress/support/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/SelectList/index.js
Labels: frontend

#220 Feature/historic results component
  frontend/src/api/evaluationApi.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistory.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistoryBuilder.js
Labels: frontend

#211 Add scheduler to services docker compose file
  backend/src/docker-compose-services.yml
Labels: deploy

#248 Feature/add forgot password feature
  backend/src/StamAcasa.Common/Services/Emailing/EmailTemplate.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/EmailConstants.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/resetPasswordTemplate.html
  backend/src/StamAcasa.EmailService/StamAcasa.EmailService.csproj
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/ForgotPassword.cshtml
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/ForgotPassword.cshtml.cs
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/ResetPassword.cshtml
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/ResetPasswordConfirmation.cshtml
  backend/src/StamAcasa.IdentityServer/Views/Account/Login.cshtml
Labels: backend

#274 Fix rabbitmq connection settings and add retry policy
  backend/src/StamAcasa.Common/Queue/QueueService.cs
  backend/src/StamAcasa.Common/StamAcasa.Common.csproj
  backend/src/StamAcasa.EmailService/appsettings.json
  backend/src/StamAcasa.JobScheduler/appsettings.json
Labels: backend

#221 Add docker compose for cloud env
  .gitignore
  backend/src/docker-compose-aws.yml
Labels: deploy

#294 Outings history
  frontend/cypress/fixtures/formAnswerHistory.json
  frontend/cypress/integration/integration_spec.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistory.constants.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistory.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistoryBuilder.js
Labels: frontend

#290 Unselect other options when a `mutuallyExclusive` option is selected
  frontend/src/components/AddMember/options.js
  frontend/src/components/SelectList/index.js
Labels: frontend

#292 Fixed #257 Can't add family member without phone number
  frontend/src/components/AddMember/PersonalData.js
  frontend/src/components/AddMember/index.js
Labels: frontend

#287 Feature/edit profile
  backend/src/StamAcasa.Api/Controllers/ProfileController.cs
  backend/src/StamAcasa.Common/DTO/UserInfo.cs
  backend/src/StamAcasa.Common/DTO/UserProfileDTO.cs
  backend/src/StamAcasa.Common/Mapper/UserMappingProfile.cs
  backend/src/StamAcasa.Common/Services/UserService.cs
  frontend/src/api/profileApi.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.js
  frontend/src/components/AddMember/PersonalData.js
  frontend/src/components/AddMember/index.js
  frontend/src/components/AddMember/options.js
  frontend/src/components/UpdateProfile/index.js
  frontend/src/routes.js
Labels: backend, frontend

#298 #276 Comment out dashboard route
  frontend/src/routes.js
Labels: front-end

#311 Feature/generate link daily assessment
  backend/src/StamAcasa.Common/Models/UserProfileUrls.cs
  backend/src/StamAcasa.Common/Notifications/AssessmentNotificationsDispatch.cs
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/dailyAssessmentTemplate.html
  backend/src/StamAcasa.JobScheduler/Program.cs
  backend/src/StamAcasa.JobScheduler/appsettings.json
  frontend/src/api/auth.js
  frontend/src/components/App/App.js
  frontend/src/redirect.js
  frontend/src/routes.js
Labels: back-end, front-end

#312 Update AssessmentService.cs
  backend/src/StamAcasa.Common/Services/AssessmentService.cs
Labels: back-end

#295 Fix profile page
  frontend/cypress/fixtures/formAnswerHistory.json
  frontend/cypress/integration/integration_spec.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistoryBuilder.js
  frontend/src/components/Account/common/ProfileHistory/ProfileHistoryBuilder.test.js
Labels: front-end

#336 Get forms query param
  backend/src/StamAcasa.Api/Controllers/FormController.cs
  backend/src/StamAcasa.Common/Models/RelationshipTypes.cs
  backend/src/StamAcasa.Common/Services/AssessmentService.cs
  backend/src/StamAcasa.Common/Services/IAssessmentService.cs
  frontend/src/api/evaluationApi.js
  frontend/src/components/Evaluation/MemberEvaluation.js
Labels: api, back-end, front-end

#338 Validate name and surname
  frontend/src/components/AddMember/PersonalData.js
Labels: front-end

#333 Update docker compose for deployment
  backend/src/docker-compose-aws.yml
Labels: deploy

#337 Feature/all counties
  backend/src/StamAcasa.Common/Models/CountyEmailDistribution.cs
  backend/src/StamAcasa.Common/Notifications/ResultNotificationsDispatch.cs
  backend/src/StamAcasa.Common/Notifications/ResultsNotificationEmailData.cs
  backend/src/StamAcasa.Common/Resources/formFollowUp.json
  backend/src/StamAcasa.EmailService/EmailBuilder/Resources/stateEntityTemplate.html
  backend/src/StamAcasa.JobScheduler/appsettings.json
Labels: back-end

#331 Bug Smash Session 1
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.js
  frontend/src/components/AddMember/Health.js
  frontend/src/components/AddMember/PersonalData.js
  frontend/src/components/AddMember/index.js
  frontend/src/components/Evaluation/evaluationForm.js
  frontend/src/components/UpdateProfile/index.js
  frontend/src/utils/index.js
Labels: front-end

#352 Update ResultNotificationsDispatch.cs
  backend/src/StamAcasa.Common/Notifications/ResultNotificationsDispatch.cs
Labels: back-end

#330 Minor refactor on namespaces and usings
  backend/src/StamAcasa.Api/ApiAuthenticationScheme.cs
  backend/src/StamAcasa.Api/Program.cs
  backend/src/StamAcasa.Api/Startup.cs
  backend/src/StamAcasa.Common/DTO/UserInfo.cs
  backend/src/StamAcasa.Common/Mapper/UserMappingProfile.cs
  backend/src/StamAcasa.Common/Migrations/UserDbContextModelSnapshot.cs
  backend/src/StamAcasa.Common/Services/IUserService.cs
  backend/src/StamAcasa.Common/Services/UserService.cs
Labels: back-end

#212 Retry for dbcontext connections #210
  backend/src/StamAcasa.Api/Extensions/PostgreSqlExtension.cs
  backend/src/StamAcasa.IdentityServer/IdentityHostingStartup.cs
Labels: back-end

#361 add urls for development environment
  README.md
Labels: documentation, low-priority

#366 Fix padding on mobile ''Developed by"
  frontend/src/components/Header/header.scss
Labels: front-end

#369 Custom validation messages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AddMember/PersonalData.js
Labels: front-end

#372 Hide persons in care from their profile
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.js
Labels: front-end

#371 added more diacritics
  frontend/src/components/Account/MemberAccount/index.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.constants.js
  frontend/src/components/Account/common/ProfileDetails/ProfileDetails.js
  frontend/src/components/Account/common/Table/Table.js
  frontend/src/components/Account/index.js
  frontend/src/components/Evaluation/MemberEvaluation.js
  frontend/src/components/Home/index.js
Labels: front-end

#378 #273
  frontend/src/components/AddMember/PersonalData.js
Labels: front-end

#377 Changed names and order for name fields in profile form
  frontend/src/components/AddMember/PersonalData.js
Labels: front-end

#374 Fix loading message
  frontend/src/components/Account/MemberAccount/index.js
  frontend/src/components/Account/index.js
  frontend/src/components/Evaluation/evaluationForm.js
  frontend/src/components/Home/index.js
  frontend/src/components/LoadingPlaceholder/index.js
Labels: front-end

#380 Update SmtpSender.cs
  backend/src/StamAcasa.Common/Services/Emailing/SmtpSender.cs
Labels: back-end

#379 Hide test data in prod
  backend/src/StamAcasa.IdentityServer/IdentityHostingStartup.cs
  backend/src/StamAcasa.IdentityServer/Quickstart/Account/AccountController.cs
  backend/src/StamAcasa.IdentityServer/Quickstart/Account/LoginViewModel.cs
  backend/src/StamAcasa.IdentityServer/SeedData.cs
  backend/src/StamAcasa.IdentityServer/Views/Account/Login.cshtml
Labels: back-end

#376 #326
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/Register.cshtml
  backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/Register.cshtml.cs
Labels: back-end

#382 Bug Smash Session 2
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Account/MemberAccount/index.js
  frontend/src/components/AddMember/Context.js
  frontend/src/components/AddMember/PersonalData.js
  frontend/src/components/Evaluation/MemberEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/SelfEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/introSelfEvaluation.js
  frontend/src/components/Evaluation/SelfEvaluation/introSelfEvaluation.test.js
  frontend/src/components/Evaluation/evaluationForm.js
  frontend/src/components/Evaluation/index.js
  frontend/src/components/Evaluation/selfEvaluation.js
Labels: front-end
